hidden {
    display: none !important;
}

.event-display {
    mix-blend-mode: difference;
}

.date-picker-field:focus {
    background-color: #00a699 !important;
}

.user-self {
    background-color: #91bce4 !important;
}