hidden {
    display: none !important;
}

.event-display {
    mix-blend-mode: difference;
}

.date-picker-field:focus {
    background-color: #00a699 !important;
}

.user-self {
    background-color: #91bce4 !important;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled {
    opacity: 1 !important;
}

.ui.form .disabled.field, .ui.form .disabled.fields .field, .ui.form .field :disabled button {
    opacity: .45 !important;
}